@using Milou.Deployer.Web.Core.Extensions
@using Milou.Deployer.Web.IisHost.Areas.Agents
@inject IAppTime AppTime;

<form method="post" action="@Url.RouteUrl(AgentsController.AgentsRouteName)">

    <input name="agentId" />

    <input type="submit" value="Create" />

</form>

<form method="post" action="@Url.RouteUrl(AgentsController.ResetAgentTokenRouteName)">

    <input name="agentId" />

    <input type="submit" value="Reset" />

</form>