@using Milou.Deployer.Web.IisHost.Areas.Targets.Controllers
@model Milou.Deployer.Web.IisHost.Areas.Settings.SettingsViewModel


<form method="post" action="@Url.RouteUrl(TargetConstants.InvalidateCacheRouteName)">

    @Html.AntiForgeryToken()

    <input type="text" name="prefix"/>

    <input type="submit" value="Empty cache"/>

</form>